@import url(https://fonts.googleapis.com/css?family=Roboto);
@font-face {
	font-family: 'Okomito';
	src: url('resources/Okomito-Medium.eot');
	src: url('resources/Okomito-Medium.eot?#iefix') format('embedded-opentype'),
		url('resources/Okomito-Medium.woff') format('woff'),
		url('resources/Okomito-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6,p,span,div {
  margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
}

#wrapper {
  font-family: 'Okomito';
  text-align: center;
  height: 100%;
	width: 100%;
}

#word_field {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 58px;
  width: 100%;
	outline: none;
  text-align: center;
	position: relative;
}
